* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    gap: 70px;
}

.side-bar {
    width: 300px;
}

.title {
    font-weight: bold;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 10px 0px;
}

.mainSection {
    background-image: url('plan.jpg');
    height: 75vh;
    background-size: 100% 100%;
}

.room {
    display: grid;
    grid-template-columns: repeat(100, 1%);
    grid-template-rows: repeat(100, 1%);
    padding: 0;
}

.oneRoom {
    display: grid;
    justify-content: center;
    padding: 20px 30px;
}

.meetingRoom {
    grid-column: 1 / span 37;
    grid-row: 2 / span 32;
    grid-template-columns: 1fr 1fr 1fr ;
}

.serversRoom {
    grid-column: 56 / span 22;
    grid-row: 2 / span 33;
    grid-template-columns: 1fr 1fr;
}

.securityRoom {
    grid-column: 79 / span 22;
    grid-row: 2 / span 33;
    grid-template-columns: 1fr 1fr;
}

.recerption {
    grid-column: 1 / span 37;
    grid-row: 36 / span 63;
    grid-template-columns: 1fr 1fr 1fr;
}

.staffRoom {
    grid-column: 57 / span 21;
    grid-row: 68 / span 32;
    grid-template-columns: 1fr 1fr;
}

.vaultRoom {
    grid-column: 79 / span 22;
    grid-row: 68 / span 31;
    grid-template-columns: 1fr 1fr;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imgUser {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

.infoUserInCard {
    line-height: 1%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.card {
    margin-top: 10px;
    height: 70px;
    padding: 0 10px;
    gap: 10px;
}

.addWorkerToRoom {
    width: 40px;
    justify-self: center;
    align-self: end; 
    position: fixed;  
}

.cardInsideRoom {
    width: 80px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.612);
    border: none;
    border-radius: 4px;
    padding-top: 5px;
}

.imgInsideRoom {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
}

#addExperience {
    font-size: 14px;
    align-self: start;
    height: 50px;
    padding: 0 20px;
}



.eachExperience {
    display: flex;
    gap: 10px;
    height: 40px;
    margin-top: 10px;
}